<img src="<%= image_path("hdr-cupcakes2.jpg") %>" alt="Cupcakes header" />

<div class="container">
	<h1><%= @user.full_name%></h1>

	<% if @statuses %>
		<% @statuses.each do |status| %>
			<div>
				<p><%= status.content %></p>
				<p><%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago</p>
			</div>
		<% end %>
	<% end %>
</div>