<img src="<%= image_path("hdr-cupcakes2.jpg") %>" alt="Cupcakes header" />

<div class="container">
	<h1>About Small Victories</h1>
	<p>Starting out as a freelancer in 2013, I soon became very aware of the importance of self-confidence and having milestones to achieve. When you work for yourself, often remotely for long periods of time, it can be hard to stay positive when you feel that things aren’t going your way. Even though you may have lots of little positives, they can easily be swamped by one bigger thing going wrong - whether that’s a contract being pulled at the last minute, finding it hard to get work, or simply having a rough time on a project. You start to forget all of the successes you’ve had.</p>

	<p>The same goes for life in general too - many of us don’t stop to appreciate our little achievements, and find it all too easy to get swamped in negativity. Some of us have depression; some find it hard knowing what they’re good at; some just want to record their lives.</p>

	<p>Initially inspired by <a href="http://larahogan.me/donuts/">Lara Callender Hogan’s 'The importance of donuts'</a>, I started logging my wins, or my ‘small victories’ as I named them - little battles in life. I found that my perception of how good or bad a day, week, or month was, could be changed by looking back at these little things that I would otherwise have forgotten about. Working in a job with no annual review, it’s also great to be able to track my achievements, and how far I’ve come in a year. And so Small Victories was born, as a way to share this with others and to get you to log your victories too. It is in itself small at the moment, but it’ll be growing as I work my way through the roadmap.</p>

	<p>If you would like to get in touch about Small Victories, please contact me at sally@recordssoundthesame.com.</p>

	<h2>Who is behind this?</h2>

	<p>Small Victories is a side project by me, Sally Jenkinson, a technical consultant from the UK. If you’d like more information on who I am and what I do, please visit <a href="http://www.sallyjenkinson.co.uk">sallyjenkinson.co.uk</a>.</p>
</div>