<div class="container">
<h1>Credits</h1>

<p>Thomas Hawk - https://www.flickr.com/photos/thomashawk/60573024/in/set-72157603679821121</p>
<p>Thomas Hawk - https://www.flickr.com/photos/thomashawk/5314253340/in/set-72157603679821121</p>

https://unsplash.com/photos/Au-LzDMd_Cw

http://www.flaticon.com/packs/poll-and-contest-linear

http://templated.co/stonework
</div>
