@import "vars";

/* ============================================================
	Viewport
============================================================ */
@-ms-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

/* ============================================================
	HTML5 Elements
============================================================ */
section, nav, article, aside, hgroup, header, footer, main,
img, figure, figcaption, details, menu {
  display: block; }

audio, video, canvas {
  display: inline-block; }

/* ============================================================
	Box sizing
============================================================ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ============================================================
	Sectioning
============================================================ */
.group:after {
  /*clearfix*/
  content: "";
  display: table;
  clear: both; }

body {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1em;
  /* 16px */
  line-height: 1;
  /* 16px */
  text-rendering: optimizeLegibility;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

h1 {
  color: #333;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.2;
  letter-spacing: -0.03125em;
  margin: 0.5em 0;
  /* 16px 0 */
  -webkit-font-smoothing: antialiased; }

h2,
article > h1,
section > h1,
nav > h1 {
  color: #333;
  font-weight: 700;
  font-size: 1.5em;
  /* 24px */
  line-height: 1;
  /* 24px */
  margin: 1.3334em 0 1em;
  /* 1.3334em 0 0.3334em = 32px 0 8px */
  -webkit-font-smoothing: antialiased; }

h3,
legend,
article article > h1,
article section > h1,
section section > h1,
section article > h1 {
  color: #333;
  font-weight: 400;
  font-size: 1.3125em;
  /* 21px */
  line-height: 1.1429;
  /* 24px */
  margin: 1.1429em 0 0.3810em;
  /* 24px 0 8px */
  -webkit-font-smoothing: antialiased; }

h4 {
  color: #444;
  font-weight: 400;
  font-size: 1.125em;
  /* 18px */
  line-height: 1.3334;
  /* 24px */
  margin: 1.3334em 0 0.4444em;
  /* 24px 0 8px */
  -webkit-font-smoothing: antialiased; }

h5 {
  color: #555;
  font-weight: 700;
  font-size: 1em;
  /* 16px */
  line-height: 1;
  /* 16px */
  margin: 1.5em 0 0.5em;
  /* 24px 0 8px */
  -webkit-font-smoothing: antialiased; }

h6 {
  color: #666;
  font-weight: 700;
  font-size: 0.875em;
  /* 14px */
  line-height: 1.1429;
  /* 16px */
  text-transform: uppercase;
  letter-spacing: 0.1429em;
  /* 2px */
  margin: 1.7143em 0 0.5714em;
  /* 24px 0 8px */
  -webkit-font-smoothing: antialiased; }

footer {
  margin-top: 1em;
  padding-top: 0.5em;
  background-color: #444444;
  color: white; }

footer a {
  color: $highlight1;
  text-decoration: underline; }

footer a:hover, footer a:active {
  color: #0a9343; }

nav ul {
  margin: 0;
  list-style: none; }

/* ============================================================
	Grouping
============================================================ */
p, pre, blockquote, ul, ol, dl, figure, figcaption, table, fieldset, details {
  font-size: 1em;
  /* 16px */
  line-height: 1.6;
  /* 1.5 - 24px */
  margin: 1.2em 0;
  /* 0.5em - 8px 0 */ }

hr {
  font-weight: 700;
  font-size: 1.5em;
  /* 32px */
  line-height: 1;
  /* 32px */
  text-align: left;
  margin: 1.5em 0 1.5em;
  /* 0 0 32px */
  border: 1px solid white;
  padding: 0;
  height: 0;
  clear: both;
  display: block; }

pre {
  margin-left: 1.5em;
  /* 24px */
  white-space: pre-wrap; }

pre code,
pre samp {
  line-height: 1.5; }

blockquote {
  color: #666;
  font-size: 1em;
  /* 16px */
  line-height: 1.5;
  /* 32px */
  border-left: 0.25em solid #e9e9e9;
  padding: 0 1.5em 0 1em;
  /* 0 24px 0 16px */ }

blockquote p {
  line-height: 1.5;
  /* 24px */
  margin: 0.5em 0;
  /* 8px 0 */ }

/* Grouping > Lists */
ol {
  list-style-type: decimal;
  padding: 0; }

ul {
  list-style-type: square;
  padding: 0; }

ul li li {
  list-style-type: circle; }

dt {
  font-size: 1em;
  /* 16px */
  font-weight: 700;
  line-height: 1.5;
  /* 24px */ }

dd, li {
  margin-left: 1.5em;
  /* 24px */ }

dd > *, li > * {
  margin-top: 0; }

/* Grouping > Figures */
figcaption {
  color: #999;
  font-size: 0.75em;
  /* 12px */
  line-height: 1.3334;
  /* 16px */
  padding: 0.6667em 0;
  /* 8px 0 */
  clear: left; }

blockquote + figcaption::before {
  content: "\2014"; }

/* ============================================================
	Text-level semantics
============================================================ */
a {
  color: $highlight1;
  text-decoration: none;
  border-bottom: 1px solid rgba(34, 85, 221, 0.1); }

a:focus {
  outline: 1px solid rgba(34, 85, 221, 0.3); }

a:hover {
  color: #0a9343;
  border-bottom-color: rgba(85, 34, 221, 0.2); }

a:link, a:visited, a:hover {
  transition: all 0.2s ease; }

a:active {
  color: $highlight1;
  border-bottom: 1px solid rgba(221, 34, 85, 0.25);
  transition: none; }

em, i, cite, var {
  /*font-family: Georgia,serif;*/
  font-style: italic;
  line-height: 90%; }

strong, b {
  color: #333;
  font-weight: 700;
  line-height: 90%; }

:lang(en-gb) > q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q::before {
  content: open-quote; }

q::after {
  content: close-quote; }

small {
  color: white;
  font-size: 0.75em;
  /* 12px */
  line-height: 1.3334;
  /* 16px */
  display: inline-block; }

abbr {
  color: #666;
  font-size: 0.875em;
  /* 14px */
  line-height: 90%;
  letter-spacing: 0.0357em;
  /* 0.5px */ }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  cursor: help; }

code, samp {
  font-family: 'DejaVu Sans Mono',Inconsolata,Consolas,'Lucida Console',monospace;
  font-size: 1em;
  /* 16px */
  line-height: 90%; }

code {
  color: #b03; }

code .comment {
  color: #999; }

samp {
  background-color: #f9f9f9;
  padding: 0.25em; }

kbd {
  color: #666;
  font-family: inherit;
  font-size: 87.5%;
  line-height: 90%;
  background-color: #f9f9f9;
  margin: 0 0.25em;
  /* 0 4px */
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  padding: 0.3334em 0.5em;
  box-shadow: inset 0 1px 0 #fff; }

sub {
  font-size: smaller;
  line-height: 90%;
  vertical-align: sub; }

sup {
  font-size: smaller;
  line-height: 90%;
  vertical-align: super; }

/* ============================================================
	Edits
============================================================ */
mark, ins {
  background-color: #fff9d9;
  line-height: 90%;
  padding: 0 0.125em;
  /* 0 2px */ }

ins {
  background-color: #e9e9e9; }

del, s {
  line-height: 90%;
  text-decoration: line-through; }

/* ============================================================
	Embedded content
============================================================ */
img {
  border: 0;
  max-width: 100%; }

/* ============================================================
	Tabular data
============================================================ */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  caption-side: bottom;
  color: #999;
  font-size: 0.75em;
  /* 12px */
  line-height: 1.3334;
  /* 16px */
  text-align: left;
  margin: 1em 0;
  /* 12px 0 */ }

td, th {
  text-align: left;
  border-bottom: 1px solid #e9e9e9;
  padding: 0.375em 2em 0.375em 0;
  /* 6px 32px 6px 0 */
  vertical-align: top; }

th {
  font-weight: 700;
  padding-bottom: 0.5em;
  /* 8px */ }

thead th {
  border-bottom: 2px solid #ddd; }

/* ============================================================
	Forms
============================================================ */
fieldset {
  border: 0;
  padding: 0; }

legend {
  margin: 0; }

label {
  line-height: 1.5;
  cursor: pointer; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0; }

select {
  -webkit-appearance: button;
  appearance: normal; }

button,
input[type="button"],
input[type="submit"] {
  -webkit-appearance: button;
  line-height: normal;
  width: auto;
  cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.25em; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

[disabled] {
  cursor: default; }

/* Placeholder */
::-webkit-input-placeholder {
  color: #999; }

:focus::-webkit-input-placeholder {
  color: #ccc; }

:-moz-placeholder {
  color: #999; }

:focus:-moz-placeholder {
  color: #ccc; }

:-ms-input-placeholder {
  color: #999; }

:focus:-ms-input-placeholder {
  color: #ccc; }

/* ============================================================
	Interactive
============================================================ */
summary {
  border: 0;
  outline: 0;
  cursor: pointer; }

/* ============================================================
	Print styles
============================================================ */
@media print {
  @page {
    margin: 0.5cm; }

  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    box-shadow: none; }

  p, h1, h2, h3 {
    orphans: 3;
    widows: 3; }

  h1, h2, h3, h4 {
    page-break-after: avoid; }

  blockquote {
    border-left: 4px solid #ccc;
    padding: 0 1em;
    page-break-inside: avoid; }

  a, a:visited {
    color: #000 !important;
    border-bottom: 1px dotted #999;
    padding-left: 0 !important; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  textarea {
    border-bottom: 1px solid #999;
    box-shadow: none; } }
/* ============================================================
	Site specific styles
============================================================ */
body {
  background-color: #f8f8f8; }

header {
  color: #fff;
  background-color: $darkgrey;
  margin: 0;
  padding-top: 0em; }

@media screen and (min-width: 41em) {
  header {
    padding-top: 0.5em; } }
main[role="main"] {
  padding: 0 0 0 0; }

@media screen and (min-width: 48.25em) {
  main[role="main"] {
    padding: 1em 0 0; } }
footer[role="contentinfo"] {
  box-shadow: inset 0 2px #f0f0f0;
  margin-top: 0; }

.cent {
  margin: 0 auto; }

.det-label {
  font-weight: bold; }

/* ============================================================
	Import individual patterns
============================================================ */
/* ============================================================
	Variables
============================================================ */
/* ============================================================
	Helpers
============================================================ */
/* Visibly hidden */
.hidden {
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute; }

/* Centered container with max-width */
.container {
  margin: 0 auto;
  padding: 1em 5%;
  max-width: 70em; }

.container::before,
.container::after {
  content: " ";
  display: table; }

.container::after {
  clear: both; }

@media screen and (min-width: 30em) {
  .container {
    padding: 1em 2.5%; } }
.container-hd {
  margin: 0 auto;
  padding: 1em 5%; }

.container-hd::before,
.container-hd::after {
  content: " ";
  display: table; }

.container-hd::after {
  clear: both; }

@media screen and (min-width: 30em) {
  .container {
    padding: 1em 2.5%; } }
/* Bullet-less list */
.no-bullets li {
  list-style: none;
  margin-left: 0; }

/* ============================================================
	Mainbanner
============================================================ */
.banner {
  background-color: $highlight1;
  padding: 1em 0;
  margin: 0;
  color: white; }

/* ============================================================
	Highlight/Marks
============================================================ */
.highlight {
  background-color: #eee; }

.mark {
  background-color: #fff9d9; }

/* ============================================================
	Text
============================================================ */
.headline {
  color: #333;
  font-weight: 700;
  font-size: 2.5em;
  /* 40px */
  line-height: 1;
  /* 40px */
  margin: 0.4em 0 0;
  /* 16px 0 0 */ }

@media screen and (min-width: 30em) {
  .headline {
    font-size: 4em;
    /* 64px */
    margin: 0.25em 0 0;
    /* 16px 0 0 */ } }
.lede {
  color: #666;
  font-weight: 300;
  font-size: 1.25em;
  /* 20px */
  line-height: 1.2;
  /* 24px */
  margin: 0.6667em 0 1em;
  /* 16px 0 24px */ }

.caption {
  color: #888;
  font-size: 0.75em;
  /* 12px */
  line-height: 1.25;
  /* 16px */
  margin: 0.6667em 0;
  /* 8px 0 */ }

/* ============================================================
	Image
============================================================ */
.circular {
  border-radius: 100%; }

.framed {
  box-shadow: 0 2px 2px #e9e9e9;
  border: 1px solid #ccc;
  padding: 0.25em;
  display: inline-block; }

.framed.circular img {
  border-radius: 100%; }

/* ============================================================
	Layout
============================================================ */
/* Pull left */
.pull-left {
  float: left; }

img.pull-left {
  margin: 0 1em 0.5em 0;
  /* 0 16px 8px 0 */ }

/* Pull right */
.pull-right {
  float: right; }

img.pull-right {
  margin: 0 0 0.5em 1em;
  /* 0 0 8px 16px */ }

/* Grid */
.grid {
  margin: 0 -1.5em;
  overflow: hidden; }

.grid-unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1.5em;
  width: 100%;
  display: block;
  float: left; }

/* Module */
[class*="module"] {
  border: 0;
  padding: 2%;
  display: block; }

[class*="module"]:before,
[class*="module"]:after {
  content: " ";
  display: table; }

[class*="module"]:after {
  clear: both; }

[class*="module"] > *:last-child {
  margin-bottom: 0; }

[class*="module"] .h {
  color: inherit;
  font-weight: 700;
  font-size: 1.25em;
  /* 20px */
  line-height: 1.2;
  /* 24px */
  /*margin-top: 0;*/ }

/* Module > Notification */
[class$="notice"] {
  background-color: #fff9d9;
  border-left: 0.25em solid #ed8;
  /* 4px */
  border-radius: 0 0.25em 0.25em 0;
  /* 0 4px 4px 0 */ }

.success-notice {
  background-color: #f0f6e9;
  border-left-color: #b3d98c; }

.failure-notice {
  background-color: #fcecec;
  border-left-color: #dd6969; }

.alert-text {
  float: left;
  width: 75%; }

.alert-x {
  float: left;
  width: 20%;
  text-align: right;
  padding-top: 1.5em; }

/* Module > Details */
.details details {
  margin-left: 1.5em; }

.details summary {
  color: #25d;
  font-weight: 700;
  display: inline; }

.details summary:hover {
  color: #52d; }

.details summary:active {
  color: #d25; }

.details summary::-webkit-details-marker {
  margin-left: -1em; }

.flash-notification {
  margin: 0;
}  

/* ============================================================
	Link
============================================================ */
/* External */
a[rel="external"] {
  background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCw0IEw4LDQgTDYsNiBMMiw2IEwyLDE0IEwxMCwxNCBMMTAsMTAuNSBMMTIsOC41IEwxMiwxNiBMMCwxNiBaIE0wLDQiIGZpbGw9InJnYmEoMCwwLDAsMC4zMykiPjwvcGF0aD48cGF0aCBkPSJNNiwwIEwxNiwwIEwxNiwxMCBMMTQsMTAgTDE0LDMuNSBMNy41LDEwIEw2LDguNSBMMTIuNSwyIEw2LDIgWiBNNiwwIiBmaWxsPSJyZ2JhKDAsMCwwLDAuMzMpIj48L3BhdGg+PC9zdmc+) no-repeat right 40%;
  background-size: 12px;
  padding-right: 1em; }

/* Tag */
a[rel="tag"] {
  font-size: 0.75em;
  /* 12px */
  line-height: 1.3334;
  /* 16px */
  text-transform: lowercase;
  border: 0; }

/* ============================================================
	Tooltip
============================================================ */
.tip {
  position: relative; }

.tip:hover:after {
  content: attr(data-tip);
  color: #fff;
  font-size: 0.75em;
  /* 12px */
  line-height: 1.3334em;
  /* 16px */
  text-align: left;
  background-color: #666;
  border-radius: 0.3334em;
  /* 4px */
  padding: 0.6667em;
  /* 8px */
  width: 16.5em;
  /* 200px */
  opacity: 0.9;
  display: block;
  position: absolute;
  left: 0;
  bottom: 2em;
  /* 24px */
  z-index: 98; }

.tip:hover:before {
  content: "";
  border: solid;
  border-color: #666 transparent;
  border-width: 0.5em 0.5em 0 0.5em;
  /* 6px 6px 0 6px */
  opacity: 0.9;
  display: block;
  left: 1em;
  /* 12px */
  bottom: 1em;
  /* 12px */
  position: absolute;
  z-index: 99; }

/* ============================================================
	List
============================================================ */
/* Articles */
.articles {
  overflow: hidden; }

.articles a {
  display: block; }

.articles a:hover {
  background-color: rgba(85, 34, 221, 0.05); }

.articles a:active {
  background-color: rgba(221, 34, 85, 0.05); }

.articles li {
  list-style: none;
  margin-left: 0; }

.articles .h {
  margin-top: 0; }

.articles p {
  color: #444; }

.articles .caption {
  color: #888;
  margin-top: 0.6667em;
  /* 8px */ }

.articles article img {
  margin-bottom: 0;
  width: 25%; }

/* Code block */
.code {
  font-family: 'DejaVu Sans Mono',Inconsolata,Consolas,'Lucida Console',monospace;
  font-size: 0.75em;
  /* 12px */
  line-height: 1.6667;
  /* 20px */ }

ol.code {
  color: #888;
  margin: 1.3334em 0 1.3334em 3em;
  /* 16px 0 16px 36px */
  line-height: 2;
  /* 24px */ }

ol.code li {
  list-style: decimal-leading-zero;
  background: #f6f6f6;
  margin: 0 0 -1px 0;
  border-top: 1px solid #fff;
  padding: 0 0.5em;
  /* 0 8px */ }

ol.code li.tab1 {
  padding-left: 4ex; }

ol.code li.tab2 {
  padding-left: 8ex; }

ol.code li.tab3 {
  padding-left: 12ex; }

ol.code li.tab4 {
  padding-left: 16ex; }

ol.code li.tab5 {
  padding-left: 20ex; }

/* Metadata */
dl.metadata {
  font-size: 0.75em;
  line-height: 1.3334;
  overflow: hidden; }

dl.metadata dt {
  font-weight: 400;
  padding-top: 0.5em; }

dl.metadata dd {
  color: #888;
  margin-left: 0;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 0.5em; }

@media screen and (min-width: 40em) {
  dl.metadata dt {
    padding: 0.5em 0;
    width: 25%;
    float: left;
    clear: left;
    display: block; }

  dl.metadata dd {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: -25%;
    padding: 0.5em 0 0.5em 25%;
    width: 75%;
    float: right; } }
/* Progress indicator */
.progress li {
  list-style: none;
  line-height: 2;
  /* 32px */
  background-color: #f6f6f6;
  margin: 0 1.25em 0.5em 0;
  /* 0 20px 8px 0 */
  padding: 0.25em 0.25em 0.25em 0.5em;
  /* 4px 4px 4px 8px */
  position: relative;
  display: inline-block; }

.progress li:before {
  content: "";
  font-size: 1em;
  /* 16px */
  font-weight: 700;
  border: solid;
  border-color: #f6f6f6 transparent;
  border-width: 1.25em 0 1.25em 1.25em;
  /* 20px 0 20px 20px */
  display: block;
  position: absolute;
  top: 0;
  left: -1.25em;
  /* -20px */ }

.progress li:first-child {
  padding-left: 0.75em; }

.progress li:first-child:before {
  display: none; }

.progress li:after {
  content: "";
  font-size: 1em;
  /* 16px */
  border: solid;
  border-color: transparent #f6f6f6;
  border-width: 1.25em 0 1.25em 1.25em;
  /* 20px 0 20px 20px */
  display: block;
  position: absolute;
  right: -1.25em;
  /* -20px */
  top: 0; }

.progress li.completed {
  background-color: #e9e9e9; }

.progress li.completed:hover {
  background-color: #e9e9e9; }

.progress li.completed:before {
  border-color: #e9e9e9 transparent; }

.progress li.completed:hover:before {
  border-color: #e9e9e9 transparent; }

.progress li.completed:after {
  border-color: transparent #e9e9e9; }

.progress li.completed:hover:after {
  border-color: transparent #e9e9e9; }

.progress li.is-active {
  color: #fff;
  font-weight: 700;
  background-color: #25d; }

.progress li.is-active:before {
  border-color: #25d transparent; }

.progress li.is-active:after {
  border-color: transparent #25d; }

.progress li a {
  border: 0;
  display: block; }

/* Stats */
.stats {
  overflow: hidden; }

.stats li {
  list-style: none;
  margin: 0 0.75em 0 0;
  /* 0 12px 0 0 */
  padding: 0 0.75em 0 0;
  /* 0 12px 0 0 */
  border-right: 1px solid #e9e9e9;
  float: left; }

ul.stats li:last-child {
  margin: 0;
  padding: 0;
  border: none; }

.stats a {
  font-weight: 700;
  font-size: 1.125em;
  /* 18px */
  line-height: 1.3334;
  /* 24px */
  border: 0 none;
  display: block;
  float: left; }

.stats span {
  font-weight: 400;
  font-size: 0.6667em;
  /* 12px */
  line-height: 1.3334;
  /* 16px */
  display: block; }

/* Tag cloud */
.tags li {
  list-style: none;
  margin: 0 0.3334em 0 0;
  display: inline;
  white-space: nowrap; }

.tags [data-rank="6"] {
  font-size: 1.2500em;
  line-height: 1.0000; }

/* 20px/20px */
.tags [data-rank="5"] {
  font-size: 1.1250em;
  line-height: 1.1111; }

/* 18px/20px */
.tags [data-rank="4"] {
  font-size: 1.0000em;
  line-height: 1.2500; }

/* 16px/20px */
.tags [data-rank="3"] {
  font-size: 0.8750em;
  line-height: 1.4286; }

/* 14px/20px */
.tags [data-rank="2"] {
  font-size: 0.7500em;
  line-height: 1.6667; }

/* 12px/20px */
.tags [data-rank="1"] {
  font-size: 0.6875em;
  line-height: 1.8181; }

/* 11px/20px */
/* ============================================================
	Navigation
============================================================ */
/* Main navigation */
a.menu-link {
  float: right;
  display: block;
  border: none; }

nav[role=navigation] {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0; }

nav[role=navigation].active {
  max-height: 35em; }

nav[role=navigation] ul {
  margin: 3em 0 0 0;
  padding: 0; }

nav[role=navigation] li {
  margin: 0; }

nav[role=navigation] li a {
  display: block;
  padding: 0.7em;
  width: 100%;
  float: left;
  border: none;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  color: white;
  letter-spacing: 0.05em;
  font-size: 0.95em;
  border-top: 1px solid white; }

@media screen and (min-width: 41em) {
  a.menu-link {
    display: none; }

  .js nav[role=navigation] {
    max-height: none; }

  nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
    text-align: right; }

  nav[role=navigation] li {
    display: inline-block;
    margin: 0 0.25em; }

  nav[role=navigation] li a {
    border: 0;
    width: auto; }

  nav[role=navigation] li:last-of-type a {
    padding-right: 0; } }
/* ============================================================
	Header
============================================================ */
.logo-holder {
  width: 100%;
  float: left; }

.logo-holder a {
  color: white;
  border-bottom: none;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 2.5em; }

.nav-holder {
  width: 100%;
  float: left;
  margin-top: -3.3em; }

@media screen and (min-width: 41em) {
  .logo-holder {
    width: 200px;
    float: left; }

  .nav-holder {
    width: calc(100% - 150px);
    margin-top: 0;
    float: right;
    margin-top: -3.3em; } }
/* ============================================================
	Form
============================================================ */
/* Text input */
.input {
  background-color: #f6f6f6;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  padding: 0.5em;
  /* 8px */
  vertical-align: middle;
  width: 100%;
  max-width: 20em;
}

.input:focus {
  background-color: #fff;
  border: 1px solid #0a9343; }

/* Button/Select */
select.input,
[class$="button"] {
  color: #444444;
  background-color: white;
  margin-right: 0.5em;
  margin-top: 0.5em;
  padding: 0.5em 0.75em;
  /* 8px 12px */
  display: inline-block;
  position: relative;
  font-weight: 300; }

select.input {
  background: #e9e9e9 url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBvbHlnb24gcG9pbnRzPSI4LDAgMyw2IDEzLDYiIGZpbGw9IiM0NDQiLz48cG9seWdvbiBwb2ludHM9IjgsMCAzLDYgMTMsNiIgZmlsbD0iIzQ0NCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTYsIDE1KSByb3RhdGUoLTE4MCkiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 92% 50%;
  background-size: 1em; }

select.input:hover,
select.input:focus,
[class$="button"]:hover,
[class$="button"]:focus {
  color: white;
  background-color: darkgrey; }

select.input:active,
[class$="button"]:active,
[class$="button"].selected {
  color: #333;
  outline: 0 none;
  background-color: #0a9343;
  border-color: #0a9343; }

/* Button > Primary */
.primary-button {
  font-family: "Raleway", sans-serif;
  font-size: 1.15em;
  color: white;
  background-color: $highlight1;
  border: none;
  border-radius: 0.25em;
  padding: 0.7em 0.75em;
  display: inline-block;
  font-weight: 300; }

.primary-button:hover,
.primary-button:focus {
  background-color: #0a9343; }

.primary-button:active {
  background-color: #0a9343; }

/* Combined inputs/buttons */
.combined {
  display: block;
  overflow: hidden;
  padding-bottom: 1px; }

.combined .input,
.combined [class$="button"] {
  margin: 0;
  border-left-width: 0;
  border-radius: 0;
  float: left; }

.combined input:first-of-type,
.combined [class$="button"]:first-of-type {
  border-left-width: 1px;
  border-radius: 0.25em 0 0 0.25em; }

.combined input:last-of-type,
.combined [class$="button"]:last-of-type {
  border-radius: 0 0.25em 0.25em 0; }

/* Combined search field */
input[type="search"] + .button {
  box-shadow: none;
  background: transparent url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNIDE2IDE0LjYgTCAxMC45IDkuNSBDIDExLjYgOC41IDEyIDcuMyAxMiA2IEMgMTIgMi43IDkuMyAwIDYgMCBDIDIuNyAwIDAgMi43IDAgNiBDIDAgOS4zIDIuNyAxMiA2IDEyIEMgNy4zIDEyIDguNSAxMS42IDkuNSAxMC45IEwgMTQuNiAxNiBMIDE2IDE0LjYgWk0gMiA2IEMgMiAzLjggMy44IDIgNiAyIEMgOC4yIDIgMTAgMy44IDEwIDYgQyAxMCA4LjIgOC4yIDEwIDYgMTAgQyAzLjggMTAgMiA4LjIgMiA2IFoiIGZpbGw9IiM5OTkiLz48L3N2Zz4=) no-repeat 50% 55%;
  border-color: transparent;
  overflow: hidden;
  width: 2em;
  text-indent: 2em;
  margin-left: -2em; }

/* Button Group */
.button-group {
  border-top: 1px solid #e9e9e9;
  padding: 0.75em 0;
  overflow: hidden; }

@media screen and (min-width: 40em) {
  .button-group {
    padding-left: 25%; } }
/* Single checkboxes */
label.check {
  font-weight: 400;
  margin: 0;
  padding: 0;
  float: none; }

label.check input {
  width: 1.25em; }

label.check + .caption {
  margin-top: 0;
  padding-left: 2em; }

@media screen and (min-width: 40em) {
  fieldset.options li {
    margin-left: 40%; }

  label.check {
    margin-left: 40%;
    float: none; } }
/* Labels */
label,
fieldset.options legend {
  color: #444;
  margin: 0.375em 0;
  /* 6px 0 */
  font-size: 1em;
  /* 16px */
  font-weight: 700;
  line-height: 1.5;
  /* 24px */
  width: auto;
  display: block;
  -webkit-font-smoothing: antialiased; }

fieldset.options legend {
  margin: 0;
  padding: 0.375em 0;
  /* 6px 0 */ }

@media screen and (min-width: 40em) {
  label,
  fieldset.options legend {
    padding: 0;
    width: 40%;
    float: left;
    display: inline; } }
/* Options list */
fieldset.options {
  clear: left; }

fieldset.options ul {
  margin: 0; }

fieldset.options li {
  list-style: none;
  margin-left: 0; }

@media screen and (min-width: 40em) {
  fieldset.options label,
  fieldset.options label.check + .caption {
    margin-left: 0; }

  fieldset.options li {
    margin-left: 40%; } }
/* Required text */
abbr[title="Required"] {
  color: #a00;
  font-size: 1.25em;
  font-weight: 400;
  border: 0; }

/* Field caption */
label.check + .caption,
.input + .caption {
  display: block; }

@media screen and (min-width: 40em) {
  .input + .caption,
  label.check + .caption,
  fieldset.options .caption {
    margin-left: 40%; } }


 div.input {
  border: 0;
  background-color: transparent;
  box-shadow: none;
} 


/* ============================================================
	CTA module
============================================================ */
.cta, .emph-holder {
  text-align: center;
  background-color: $lightestgrey;
  padding: 1em 0;
}

/* ============================================================
	Banding
============================================================ */
.banding {
  background-color: #e9e9e9;
  margin: 0;
  padding: 1em 0; }

/* ============================================================
	Layout columns
============================================================ */
.text-col, .sub-col {
  float: left;
  width: 100%; }

.sub-col {
  background-color: #e9e9e9;
  margin: 1em 0;
  padding: 0em 1em 1em;
  border-radius: 1em; }

@media screen and (min-width: 40em) {
  .text-col {
    width: 55%;
    margin-right: 2em; }

  .sub-col {
    width: 35%; } }
