/* ============================================================
	Variables
============================================================ */
$lighttint: #f4f4f4;
$lightestgrey: #e9e9e9;/*#e9e9e9;*/
$secondlightestgrey: #f2f2f2;/*#a9a9a9;*/

$midgrey:#777;
$darkgrey:#444;
$white: #fff;
$highlight1: #1abc9c;
$highlight2: #0a9343;

$pinkhighlight: #F7BDB6;
$pinkhighlight2: #ED757A;

$headerfont:'Raleway', sans-serif;
$bodyfont:'Open Sans', sans-serif;
